.btn-success {
  --bs-btn-bg: #5cb85f;
}

.nav-link {
  color: black;
}

.fontlabel {
  font-size: 12px;
  color: #3c3c3c;
  font-style: normal;
}

.nav-item button {
  background: #5cb85f;
}

#cmp1 {
  background: #0d28a6;
  border-radius: 13px;
  padding: 50px;
  margin-top: 34px;
}

#cmp1 h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

#cmp1 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#cmp1 button {
  background: #5cb85f;
  border-radius: 2px;
  margin-top: 24px;
}

#cmp2 {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 16px;
  margin-right: 90px;
  margin-top: 20px;
}

#cmp2 h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
}

#cmp3 {
  margin-top: 64px;
}

#cmp4 {
  margin-top: 32px;
  line-height: 40px;
}

#cmp5 {
  margin-top: 32px;
}

#cmp6 {
  margin-top: 32px;
}

#cmp7 {
  border-radius: 8px;
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 180px;
  padding-right: 40px;
  padding-bottom: 30px;
  background: #f1f3ff;
}

#cmp8 {
  border: none;
}

#cmp9 {
  margin-top: 55px;
}

#cmp9 button {
  background: #5cb85f;
}

#cmp10 {
  margin-top: 40px;
}

#cmp11 {
  color: #5cb85f;
  border-radius: 100%;
  margin-top: 30px;
  justify-content: center;
  padding-left: 43%;
}

#cmp12 {
  margin-left: 50%;
}

.cmp13 {
  background: #f1f3ff;
}

.cmp14 {
  background: #f1f3ff;
}
